* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #66fcf1;
  font-family: "Sen", sans-serif;
}

.nav-container {
  height: 4.5rem;
  background-color: #1f2833;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.nav-container .left {
  margin-left: 2rem;
}

.nav-container .right {
  margin-right: 2rem;
  padding: 0.25rem 1rem;
  border: 1px solid #66fcf1;
}

.create-title {
  color: #1e1e1e;
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.body-container {
  color: white;
}

.includes {
  background-color: #1f2833;
  padding: 2rem;
  margin: 0 15rem;
  font-family: "Sen", sans-serif;
  box-shadow: 10px 5px 15px #1f2833e4;
}

.display-box {
  text-align: center;
}

.display-box input {
  padding: 1.2rem;
  width: 35rem;
  background-color: white;
  font-family: "Sen", sans-serif;
  font-size: 1.2rem;
}

table {
  margin: 0 auto;
}

table td {
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

table td input {
  width: 1.5rem;
  height: 1.5rem;
}

.includes .length input {
  width: 5rem;
  height: 2rem;
}

.includes .length {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.buttons button {
  background-color: transparent;
  color: white;
  font-family: "Sen", sans-serif;
  font-size: 1.25rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border-color: #66fcf1;
  box-shadow: 2px 1px 3px #66fcf1;
  cursor:pointer;
}

@media screen and (max-width: 1200px) {
  .display-box input {
    width: 32rem;
    font-size: 1rem;
  }

  .buttons button {
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
  }

  table td {
    font-size: 1.2rem;
  }

  .includes {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .display-box input {
    width: 25rem;
    font-size: 1rem;
  }

  .buttons {
    display: block;
    text-align: center;
    margin-top: 0;
  }

  .buttons button {
    width: 20rem;
    margin-top: 1rem;
  }

  .includes {
    margin: 0 10rem 3rem 10rem;
  }
}

@media screen and (max-width: 800px) {
  .create-title {
    font-size: 1.8rem;
  }

  .includes {
    margin: 0 6rem 3rem 6rem;
  }

  .display-box input {
    width: 21rem;
    font-size: 1rem;
  }

  .buttons button {
    width: 18rem;
    margin-top: 1rem;
  }

  .nav-container {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  .create-title {
    font-size: 1.5rem;
  }

  .includes {
    margin: 0 1rem 3rem 1rem;
  }

  .display-box input {
    width: 16rem;
    font-size: 1rem;
  }

  .buttons button {
    width: 17rem;
    margin-top: 1rem;
    padding: 0.6rem 2.2rem;
    font-size: 1.1rem;
  }

  table td {
    font-size: 1.1rem;
  }

  table td input {
    width: 1.2rem;
    height: 1.2rem;
  }

  .includes .length input {
    width: 4rem;
    height: 2rem;
  }
}
